<div class="container header-container mb-4">
    <h1><span class="header-underline">Lorem i</span>psum dolor sit amet, consectetur adipiscing elit.</h1>
    <h4>Suspendisse a justo nunc. Donec turpis nibh, rutrum et sollicitudin eget, dictum</h4>
    <div class="row">
        <div class="col-md-6">
            <div fxLayout="column">
                <div fxLayout="row">
                    <div fxFlex="20" fxLayoutAlign="space-around start">
                        <img src="../assets/design/Icons - MEDIUM - Color - Calculator.svg">
                    </div>
                    <div fxFlex="80">
                        <h2>Mauris laoreet ut ligula sed blandit.</h2>
                        <h4>Automatiza todos esos procesos repetitivos y que realizas de manera continuada para invertir tu tiempo en lo que de verdad importa.</h4>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20" fxLayoutAlign="space-around start">
                        <img src="../assets/design/Icon-beneficts-viajes.svg">
                    </div>
                    <div fxFlex="80">
                        <h2>Mauris laoreet ut ligula sed blandit.</h2>
                        <h4>Automatiza todos esos procesos repetitivos y que realizas de manera continuada para invertir tu tiempo en lo que de verdad importa.</h4>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20" fxLayoutAlign="space-around start">
                        <img src="../assets/design/iCons - help.png">
                    </div>
                    <div fxFlex="80">
                        <h2>Mauris laoreet ut ligula sed blandit.</h2>
                        <h4>Automatiza todos esos procesos repetitivos y que realizas de manera continuada para invertir tu tiempo en lo que de verdad importa.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md-1">
            <div class="card mb-2">
                <div class="card-body">
                    <h1 class="card-body">Card title</h1>
                    <div class="col-md-12">
                        <h4 class="slider-text">Hello</h4>
                        <mat-slider min="1" max="100" step="0.5" value="80"></mat-slider>
                    </div>
                    <div class="col-md-12">
                        <h4 class="slider-text">Hello</h4>
                        <mat-slider min="1" max="100" step="0.5" value="37"></mat-slider>
                    </div>
                    <div class="col-md-12">
                        <h4 class="slider-text">Hello</h4>
                        <mat-slider min="1" max="100" step="0.5" value="87"></mat-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>