@import '../../../../styles/variables.scss';
.dheader {
    background-color: $dheader-color;
    padding: 3%;
}

h1 {
    font-size: $h1-font;
}

h2 {
    font-size: $h2-font;
}

h3 {
    font-size: $h3-font;
}

.card {
    border-radius: 15px;
    margin: 5%;
}

.radius-btn {
    background-color: $detail-card-btn-color;
    border-radius: 25px;
    color: white;
}

@media (max-width: 767px) {
    h1 {
        font-size: 26px;
        text-align: center;
    }
    h3 {
        font-size: 16px;
    }
}